**/.DS_Store
/dist
/scrap
/node_modules
*.env
*.ignore
.git-*
*.log

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity
